<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <add name="sqlconexion" connectionString="server=DESKTOP-E0ECKN5\SNAKERIVAS;Integrated Security=false;Database=CursoMVC;uid=sa;password=snake21"/>
  </connectionStrings>
</configuration>